
.container.header
    .person
        .person__avatar
            img(class='person__avatar-img' src='img/avatar.png')
        .page__title
            +svg('page__bg-text', 'blog_header')
            .page__title-line
            h1.page__title-text Блог
            .page__title-line
        h2.page__desc Статьи, которые не я писал
    
    +headerSame()

    //- .header__triangles
    //-     +svg('header__triangles-pic', 'about_bg_left')
    //-     +svg('header__triangles-pic', 'about_bg_right')



