.info
    .info__links
        ul.info-pages
            +listItem('Мои работы', 'info-pages', 'works.html')
            +listItem('Обо мне', 'info-pages', 'about.html')
            +listItem('Блог', 'info-pages', 'blog.html')
            +listItem('Авторизация', 'info-pages', 'index.html')
        ul.info-social
            +listItem('', 'info-social', 'https://vk.com/sovofeel', 'vk_round', '', '-2 -2 54 54')
            +listItem('', 'info-social', 'https://github.com/sovofeel', 'github_round', '', '-2 -2 54 54')
            +listItem('', 'info-social', 'https://twitter.com/sovofeel', 'in_round', '', '-2 -2 54 54')
    .info__desc
        .info__about Я веб-разработчик из Уфы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        .info__credits © Лобастов Арсений | создано с любовью в LoftSchool | 20!8
