
.container.header
    .header__bg
        +svg('header__bg-text', 'portfolio_header')
    .person
        .person__avatar
            img(class='person__avatar-img' src='img/avatar.png')
        h1.person__name Лобастов Арсений
        h2.person__desc Личный сайт веб-разработчика
    
    +headerSame()  
    


