.footer
    .footer__bg
        img.footer__bg-img(src='img/works-footer-bg.jpg' alt='footer__bg')
    include ./comments
    include ./form
    +svg('footer__arrow', 'arrow_down')
    include ../../config/footer.pug
    
    
    